<h3>Orbit Report</h3>
<table>
   <tr class="header-row">
      <th class="sortable">Name</th>
      <th class="sortable">Type</th>
      <th>Operational</th>
      <th>Orbit Type</th>
      <th>Launch Date</th>
      <!-- <td>shouldShowWarning</td> -->
   </tr>
   <tr *ngFor= "let satellite of satellites">
      <th (click)='sort'>{{satellite.name}}</th> 
      <th [class.warning]='satellite.isSpaceDebris()' (click)='sort'>{{satellite.type}}</th> <th>{{satellite.operational}}</th>
      <th>{{satellite.orbitType}} <th>
      {{satellite.launchDate}}</th>
      </tr> 
   
  
</table>
